@media only screen and (orientation: landscape) {
  .memory-grid {
    height: 40vw;
    margin-top: 1vw;
    grid-gap: 0.5vw;
  }
}

@media only screen and (orientation: portrait) {
  .memory-grid {
    height: 98vw;
    margin-top: 2vw;
    grid-gap: 1vw;
  }
}

.memory-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-columns: repeat(4, auto);
}
