@media only screen and (orientation: landscape) {
  .game-container {
    width: 40vw;
    margin: 1vw auto;
  }

  .memory-grid {
    height: 40vw;
    margin-top: 1vw;
    display: grid;
    grid-gap: 0.5vw;
  }
}
@media only screen and (orientation: portrait) {
  .game-container {
    width: 98vw;
    margin: 2vw auto;
  }

  .memory-grid {
    height: 98vw;
    margin-top: 2vw;
    display: grid;
    grid-gap: 1vw;
  }
}

.memory-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-columns: repeat(4, auto);
}
