.preload-swan {
  background: url("../../images/swan.jpg") no-repeat -9999px -9999px;
}
.preload-dolphin {
  background: url("../../images/dolphin.jpg") no-repeat -9999px -9999px;
}
.preload-fish {
  background: url("../../images/fish.jpg") no-repeat -9999px -9999px;
}
.preload-giraffe {
  background: url("../../images/giraffe.jpg") no-repeat -9999px -9999px;
}
.preload-horse {
  background: url("../../images/horse.jpg") no-repeat -9999px -9999px;
}
.preload-lion {
  background: url("../../images/lion.jpg") no-repeat -9999px -9999px;
}
.preload-monkey {
  background: url("../../images/monkey.jpg") no-repeat -9999px -9999px;
}
.preload-zebra {
  background: url("../../images/zebra.jpg") no-repeat -9999px -9999px;
}
