@media only screen and (orientation: landscape) {
  .snake-grid {
    height: 24vw;
  }
}

@media only screen and (orientation: portrait) {
  .snake-grid {
    height: 58.8vw;
  }
}

.snake-grid {
  display: grid;
  grid-template-rows: repeat(12, auto);
  grid-template-columns: repeat(20, auto);
  border: 1px solid black;
  margin-top: 1vw;
}

.snake-cell {
  border: 1px solid lightgray;
  background-color: rgb(236, 236, 236);
}

.head {
  background-image: url("../../images/mkm.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.tail {
  background-image: url("../../images/mkm-body.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.food {
  background-image: url("../../images/beer.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
