.preload-snake {
  background: url("../../images/snake-body.png") no-repeat -9999px -9999px;
}

.preload-snake-head {
  background: url("../../images/snake.png") no-repeat -9999px -9999px;
}

.preload-apple {
  background: url("../../images/apple.png") no-repeat -9999px -9999px;
}
