.preload-mkm-body {
  background: url("../../images/mkm-body.png") no-repeat -9999px -9999px;
}

.preload-mkm {
  background: url("../../images/mkm.png") no-repeat -9999px -9999px;
}

.preload-beer {
  background: url("../../images/beer.png") no-repeat -9999px -9999px;
}
